nav{
    /*
    Fijamos siempre la barra de busqueda
    en la parte superior y los elementos en horizontal
    */
    position: fixed;
    display: flex;
    top: 0;
    left:0;

    width: 100%;
    background-color: #09090B;

    align-items: center;
    justify-content: space-between;
    
    

}
.logoNavBar h1{
    margin: 0;
    
}
.busqueda {
    display: flex;
    align-items: center;
}
.busqueda input{
  padding: 6px 10px;
  border: none;
  border-radius: 10px;
}
.busqueda button{
  margin-left: 6px;
  padding: 4px 15px;
  border: none;
  background-color: #701F11;
  cursor: pointer;
}

.busqueda button:hover {
  background-color: #3E1109;
}

/* Para que el resto del contenido no quede oculto bajo la barra */
body {
  margin: 0;
  padding-top: 70px; /* espacio del alto aproximado del navbar */
}